---
name: "Release Drafter"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update_release_draft:
    runs-on: ubuntu-20.04
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          # This token is generated automatically by default in GitHub Actions: no need to create it manually
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
...
