/*
 Theme: Asciidoctor
 Fonts: Neuton, Cedarville Cursive (optional)

 <link href="http://fonts.googleapis.com/css?family=Neuton:400,700,800,400italic" rel="stylesheet">
 <link href="http://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">

 Style class:
 .title = Use on title slide
 .intro = Use on intro slides, use h1 heading (or h2 heading) for topic name
 .recap = Use on recap slides, use h1 heading (or h2 heading) for topic name, h2 and h3 in an hgroup for summary
 .source = Use on source code slide, put source in <pre><code> (requires highlight.js for syntax highlighting)
 .ending = Use on final slide, use h2 heading for message
 .statement = Use on a paragraph to make it a statement, vertically centered
 .middle = Use on any element to vertically center it
 
 Color Palette:

 Name           Hex
 =====================
 Background ... #ffffff 
 Foreground ... #222222
 Primary ...... #005498
 Headings ..... #BA3925
 Muted ........ #6F6F6F 
 Shade ........ #1A6074
 Border ....... #DDDDDD
 ...
*/
html, .view body {
  background: #ededed url(../../images/noise.png) repeat;
  counter-reset: slideidx;
  font-family: 'Neuton', sans-serif;
}

body, .view section {
  background: #ffffff;
  font-size: 17px;
  line-height: 1;
}

section, .view head > title {
}

.view section:after {
  counter-increment: slideidx;
  content: counter(slideidx, decimal-leading-zero);
  position: absolute;
  bottom: -1.5em;
  right: .5em;
  color: #222;
  font-size: 3em;
}

.view head > title {
  color: #000;
  font-weight: 800;
  text-align: center;
  margin: .5em 0 .25em;
  line-height: 1;
  font-size: 3em;
}

.view section[aria-selected] {
  border: 5px #FFFFFF solid;
}

section:not(.title) {
  padding: 50px;
}

section.title h1 {
  font-size: 6em;
  color: #1D2326;
  position: relative;
  top: 40%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0 50px; /* quick hack to fix overruns */
}

section.title footer {
  font-weight: 200;
  text-align: center;
  font-size: 2.5em;
  padding: 30px 50px;
}

section[class=topic] h2 {
  color: #222222;
  font-size: 2.5em;
  margin-bottom: .5em;
  margin-top: -.5em;
}

section.intro, section.terminal {
  background-color: #111111;
}

section.intro h1,
section.intro h2 {
  color: #FEFEFE;
  text-transform: lowercase;
  line-height: .7em;
  text-align: left;
  font-size: 4.4em;
}

section.intro.alt h1,
section.intro.alt h2 {
  text-align: right;
}

section.intro h1 strong,
section.intro h2 strong {
  color: #4EA2B9;
  font-size: 1.51em;
  line-height: .8em;
}

section.terminal pre.literal {
  color: #D5EE5E;
}

section.secret {
  background-color: #222222;
}

section.secret p {
  color: #DDDCC5;
  text-transform: uppercase;
  font-weight: 700;
}

section.secret strong {
  color: #136E9E;
  font-size: 2em;
  display: block;
  line-height: .8em;
}

section.recap > h1,
section.recap > h2 {
  margin: 0;
  text-transform: uppercase;
  color: #005498;
  font-size: 2em;
  border: 15px solid #005498;
  border-radius: 20px;
  position: absolute;
  right: -25px;
  top: 5px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  white-space: nowrap;
  padding: 10px;
}

section.recap hgroup h2 {
  color: #222222;
  text-transform: uppercase;
  font-size: 4.4em;
}

section.recap hgroup h3 {
  color: #BA3925;
  text-transform: uppercase;
  font-size: 3em;
}

section.recap hgroup .invert h2 {
  font-size: 3em;
}

section.recap hgroup .invert h3 {
  font-size: 4.4em;
}

section.question p {
  text-align: right;
  font-size: 3em;
}

section.question p strong {
  display: block;
  text-transform: uppercase;
  font-size: 2em;
  line-height: .8em;
}

section.ending {
  background-color: #1A6074;
}

section.ending > h2 {
  color: #ffffff;
  font-size: 4em;
  text-transform: lowercase;
}

section.ending > h2.name {
  text-transform: none;
  top: 40%;
}

section.ending h2.name [class^="icon-"] {
  color: #222;
  font-size: 0.6em;
  display: inline-block;
  margin-left: -4px;
  margin-right: -10px;
  position: relative;
  bottom: 5px;
}

section.ending footer,
section.ending p.footer {
  position: absolute;
  left: 0;
  background-color: #F5F5F5;
  width: 100%;
  padding: 10px;
  font-size: 3.2em;
  text-align: center;
  color: #1A6074;
  font-weight: bold;
  top: 60%;
  height: 20%;
  margin: 0;
}

section.ending p.footer .icon-twitter {
  font-size: 0.8em;
  position: relative;
  top: 3px;
}

.aspect-16-10 section.ending footer,
.aspect-16-10 section.ending p.footer {
  height: 26%;
}

h1 {
  font-size: 4.4em;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
}

a {
  /*
  color: inherit;
  text-decoration: none;
  */
  color: #005498;
  font-weight: normal;
}

kbd.keyseq {
  color: #555555;
}
kbd:not(.keyseq) {
  display: inline-block;
  color: #222222;
  font-size: 0.75em;
  line-height: 1.4;
  background-color: #F7F7F7;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
  margin: -0.15em 0.15em 0 0.15em;
  padding: 0.2em 0.6em 0.2em 0.5em;
  vertical-align: middle;
  white-space: nowrap;
}

kbd kbd:first-child { margin-left: 0; }

kbd kbd:last-child { margin-right: 0; }

section ul {
  list-style: none;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
  color: #1A6074;
  text-align: right;
  margin-bottom: 1em;
}

section ul.variants {
  margin-top: 150px; /* half height (250px) - 100px to account for padding */
}

section ul.split > li {
  width: 50%;
}

/* temporary!! */
section ul.scatter {
  font-size: 1.5em;
}

section ul.split > li:nth-of-type(2n),
section ul.scatter > li:nth-of-type(2n) {
  float: right;
}

section ul.split > li:nth-of-type(2n - 1),
section ul.scatter > li:nth-of-type(2n - 1) {
  float: left;
}

section ul.scatter > li:nth-of-type(2n) {
  clear: left;
  text-align: right;
}

section ul.scatter > li:nth-of-type(2n - 1) {
  clear: right;
}

section .graffiti {
  font-family: 'Cedarville Cursive', cursive;
  text-transform: none;
  font-weight: normal;
  color: #6A6A61;
  text-align: left;
  line-height: 1.5;
}

section .graffiti strong, section .graffiti em {
  font-weight: 700;
  font-size: 1.5em;
}

section dt {
  /*font-size: 3em;*/
  font-size: 1.5em;
  color: #BA3925;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1em;
}

section dt:after {
  content: ':';
}

section dd {
  color: #222222;
  /*text-transform: uppercase;*/
  font-weight: 700;
  line-height: 1em;
  /*margin-bottom: 2em;
  font-size: 2em;*/
  margin-bottom: 1em;
  font-size: 1.5em;
}

section dt:nth-of-type(2n),
section dd:nth-of-type(2n) {
  text-align: right;
}

section p {
  color: #222222;
  font-weight: 700;
  font-size: 3.5em;
}

section p.revision {
  font-family: 'Cedarville Cursive';
  font-weight: normal;
  color: #6A6A61;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.insert:before {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  content: "^";
  margin-right: 10px;
}

section p.expression {
  text-align: center;
  text-transform: uppercase;
  font-size: 8em;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transform-origin: 0% 15%;
  -moz-transform-origin: 0% 15%;
  -o-transform-origin: 0% 15%;
  transform-origin: 0% 15%;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

section p.follow-up {
  color: #222222;
  font-weight: 700;
  font-size: 2em;
  margin-top: -.5em;
  padding-left: 3px;
}

section p.point {
  position: relative;
  text-transform: uppercase;
  font-size: 2.8em;
  text-align: right;
  font-weight: 700;
}

section em, section i {
  color: #BA3925;
  font-style: normal;
}

section strong {
  color: #BA3925;
}

section del {
  color: #6A6A61;
}

section p del span {
  color: #222222;
  font-weight: 700;
}

blockquote {
  padding: 0 0 0 15px;
  margin: -10px 2em 0 2em;
  border-left: 5px solid #BA3925;
}

blockquote:before {
  color: #BA3925;
  content: '\201C';
  font-size: 5em;
  float: left;
  margin-left: -.8em;
}

section blockquote p {
  color: #333;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: .5em;
  font-style: italic;
  font-size: 3.0em;
  font-weight: normal;
}

blockquote p em {
  font-style: italic;
}

blockquote p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0.1em;
}

blockquote cite {
  font-size: 1.5em;
  display: block;
  line-height: 1.8;
  color: #005498;
  font-style: normal;
  margin-top: .25em;
}

blockquote cite:before {
  content: '\2014 \00A0';
}

figcaption {
  font-size: 3em;
  color: #000000;
  font-weight: 700;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 35px;
  width: 100%;
}

/*
figcaption.invert {
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}
*/

figure img.invert + figcaption {
  font-size: 4em;
  color: #FFFFFF;
  /*text-shadow: 2px 2px #000000;*/
}

section.title footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  background-color: #F5F5F5;
  border-top: 1px solid #DDDDDD;
}

section.title footer span {
  color: #4d4d4d;
  font-size: .8em;
}

section.source {
  padding: 30px !important;
}

section.source h2 {
  margin: 0 .5em .5em 0;
  color: #7A2518;
  /*color: #222;*/
  text-align: right;
}

section.source.lhs h2 {
  text-align: left;
}

section.source div.title {
  /*color: #7A2518;*/
  color: #333;
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: .3em;
  padding-left: 1px;
}

section *:not(pre) > code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #6D180B;
  border: 1px solid #CCC;
  background-color: #F2F2F2;
  white-space: nowrap;
  padding: 1px 3px 0;
  font-size: 0.8em;
  border-radius: 4px;
}

section pre code, section pre.literal {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: .9em;
  line-height: 1.3;
  margin-bottom: 1em;
  padding: 0.5em;
  overflow-y: auto;
  /*max-height: 375px;*/
  /*
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #F2F2F2;
  */
  border: 0 dotted #ccc;
  border-width: 1px 0; 
  background: transparent;
  white-space: pre-wrap;
}

section pre.nowrap code {
  white-space: pre;
  /*overflow-x: hidden;*/
}

section pre.literal {
  font-size: 0.65em;
  line-height: 1.1;
}

.middle,
.statement,
section.intro > h1,
section.intro > h2,
section.recap > hgroup, 
section.ending > h2,
section > dl,
section > ul.graffiti,
section > p {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

section p.statement strong {
  font-size: 2.5em;
  line-height: .75em;
}

section p.statement .icon-caret-right {
  font-size: 1.25em;
  position: relative;
  bottom: 8px;
}

img.middle {
  display: block;
  margin: 0 auto;
}

img.stretch-x {
  width: 100%;
}

img.stretch-y {
  height: 100%;
}

figure > img.relax-y {
  height: auto;
  top: auto;
  margin: auto 0;
}

figure > img.relax-x {
  width: auto;
}

img.scale{
  max-height: 97.5%;
  width: auto;
}

.hide {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.auto-width {
  width: auto !important;
}

span.detail {
  font-size: .8em;
  color: #3e999f;
  opacity: 0.5;
  font-weight: normal;
}

.mild {
  color: #005498;
}

/* Incremental elements */

/* By default, visible */
.incremental > * {
  opacity: .5;
}

/* The current item */
.incremental > *[aria-selected] {
  opacity: 1;
}

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * {
  opacity: 0;
}

.view .incremental {
  visibility: visible;
}

.view .incremental * {
  opacity: 1 !important;
}

/* The progressbar, at the bottom of the slides, show the global
   progress of the presentation. */
#progress-bar {
  height: 2px;
  background: #AAA;
}

/* TODO: merge the overrides below into the sheet */
section.title h1 {
  font-size: 4em;
}

section.title h1 strong {
  font-size: 3em;
  font-style: italic;
}

section.intro h1 strong,
section.intro h2 strong {
  /*font-size: 3.5em;*/
  font-size: 3em;
}

section p {
  font-size: 2em;
  margin-bottom: 1em;
}

section p.middle,
section p.statement {
  font-size: 3em;
}

section p.follow-up {
  margin-top: 0;
}

section > p {
  position: static;
  top: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

section pre:nth-of-type(2):not(.continue) code {
  font-size: .8em;
  line-height: 1.4;
}

section ul {
  text-transform: none;
  text-align: left;
/*  font-size: 1.5em;*/
  line-height: 1.1;
}

section ul ul {
  font-size: .8em;
  margin-bottom: 0;
  margin-left: 1em;
}

section.fit {
  padding: 50px 0;
  -moz-transition: none;
}

section.fit > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.colist td {
  color: #333;
  padding: 4px 4px 4px 0;
}

.admonitionblock {
  margin-bottom: 1em;
}

.admonitionblock td.icon, .admonitionblock td.content {
  font-size: 1.5em;
  padding: 5px 10px 5px 0px;
}

ol {
  margin-left: 1.5em;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.conum {
  display: inline-block;
  color: white !important;
  background-color: #222222;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  width: 18px;
  height: 18px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  font-family: Arial, sans-serif;
  font-style: normal;
  position: relative;
  top: -2px;
  letter-spacing: 1px;
}
.colist .conum {
  top: -1px;
}
.conum * { color: white !important; }
.conum + b { display: none; }
.conum:after { content: attr(data-value); }
.conum:not([data-value]):empty { display: none; }

.icon-note:before { content:"\f05a"; }
.icon-tip:before { content:"\f0eb"; }
.icon-warning:before { content: "\f071"; }
.icon-caution:before { content: "\f06d"; }
.icon-important:before { content:"\f06a"; }

.hashtag {
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
