/*
 Theme: Tomorrow White
 Fonts: Yanone Kaffeesatz, Cedarville Cursive

 <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,200,300" rel="stylesheet">
 <link href="http://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">

 Style class:
 .title = Use on title slide
 .intro = Use on intro slides, use h1 heading (or h2 heading) for topic name
 .recap = Use on recap slides, use h1 heading (or h2 heading) for topic name, h2 and h3 in an hgroup for summary
 .source = Use on source code slide, put source in <pre><code> (requires highlight.js for syntax highlighting)
 .ending = Use on final slide, use h2 heading for message
 .statement = Use on a paragraph to make it a statement, vertically centered
 .middle = Use on any element to vertically center it
 
 Color Palette:
 
 https://github.com/chriskempson/tomorrow-theme

 Name           Hex
 =====================
 Background ... #ffffff 
 Current Line . #efefef 
 Selection .... #d6d6d6 
 Foreground ... #4d4d4c 
 Comment ...... #8e908c 
 Red .......... #c82829 
 Orange ....... #f5871f 
 Yellow ....... #eab700 
 Green ........ #718c00 
 Aqua ......... #3e999f 
 Blue ......... #4271ae 
 Purple ....... #8959a8 

*/

html, .view body {
  background: #8e908c url(images/White.jpg) repeat;
  counter-reset: slideidx;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body, .view section {
  background: #ffffff;
  font-size: 17px;
  line-height: 1;
  -webkit-box-shadow: 8px 0 6px -3px #8c8c8c;
     -moz-box-shadow: 8px 0 6px -3px #8c8c8c;
          box-shadow: 8px 0 6px -3px #8c8c8c;
}

section, .view head > title {
}

.view section:after {
  counter-increment: slideidx;
  content: counter(slideidx, decimal-leading-zero);
  position: absolute;
  bottom: -1.5em;
  right: .5em;
  color: #FFFFFF;
  font-size: 3em;
}

.view head > title {
  color: #FFFFFF;
  text-align: center;
  margin: .5em 0 .25em;
  line-height: 1;
  font-size: 3em;
}

.view section[aria-selected] {
  border: 5px #FFFFFF solid;
}

section:not(.title) {
  padding: 50px;
}

section.title h1 {
  font-size: 6em;
  color: #1D2326;
  position: relative;
  top: 40%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0 50px; /* quick hack to fix overruns */
}

section.title footer {
  font-weight: 200;
  text-align: center;
  font-size: 2.5em;
  padding: 30px 50px;
}

section[class=topic] h2 {
  color:  #4d4d4c;
  font-size: 2.5em;
  margin-bottom: .5em;
  margin-top: -.5em;
}

section.intro, section.terminal {
  background-color: #1D2326;
}

section.intro h1,
section.intro h2 {
  color: #DDDCC5;
  text-transform: lowercase;
  line-height: .7em;
  text-align: left;
  font-size: 4.4em;
}

section.intro.alt h1,
section.intro.alt h2 {
  text-align: right;
}

section.intro h1 strong,
section.intro h2 strong {
  color: #D5EE5E;
  font-size: 1.51em;
  line-height: .8em;
}

section.terminal pre.literal {
  color: #D5EE5E;
}

section.secret {
  background-color: #4d4d4c;
}

section.secret p {
  color: #DDDCC5;
  text-transform: uppercase;
  font-weight: 700;
}

section.secret strong {
  color: #4271ae;
  font-size: 2em;
  display: block;
  line-height: .8em;
}

section.recap > h1,
section.recap > h2 {
  margin: 0;
  text-transform: uppercase;
  color: #718c00;
  font-size: 2em;
  border: 15px solid #718c00;
  border-radius: 20px;
  position: absolute;
  right: -25px;
  top: 5px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  white-space: nowrap;
  padding: 10px;
}

section.recap hgroup h2 {
  color: #4d4d4c;
  text-transform: uppercase;
  font-size: 4.4em;
}

section.recap hgroup h3 {
  color: #c82829;
  text-transform: uppercase;
  font-size: 3em;
}

section.recap hgroup .invert h2 {
  font-size: 3em;
}

section.recap hgroup .invert h3 {
  font-size: 4.4em;
}

section.question p {
  text-align: right;
  font-size: 3em;
}

section.question p strong {
  display: block;
  text-transform: uppercase;
  font-size: 2em;
  line-height: .8em;
}

section.ending {
  background-color: #4271ae;
}

section.ending > h2 {
  color: #ffffff;
  font-size: 4.4em;
  text-transform: lowercase;
}

section.ending > h2.name {
  text-transform: none;
  top: 40%;
}

section.ending footer,
section.ending p.footer {
  position: absolute;
  bottom: 22%;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  padding: 40px 0;
  font-size: 3em;
  text-align: center;
  color: #4271ae;
  font-weight: bold;
  top: 55%;
  margin: 0;
}

.aspect-16-10 section.ending footer,
.aspect-16-10 section.ending p.footer {
  height: 26%;
}

h1 {
  font-size: 4.4em;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
}

a {
  color: inherit;
  text-decoration: none;
}

section ul {
  list-style: none;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
  color: #4271ae;
  text-align: right;
  margin-bottom: 1em;
}

section ul.variants {
  margin-top: 150px; /* half height (250px) - 100px to account for padding */
}

section ul.split > li {
  width: 50%;
}

section ul.split > li:nth-of-type(2n),
section ul.scatter > li:nth-of-type(2n) {
  float: right;
}

section ul.split > li:nth-of-type(2n - 1),
section ul.scatter > li:nth-of-type(2n - 1) {
  float: left;
}

section ul.scatter > li:nth-of-type(2n) {
  clear: left;
  text-align: right;
}

section ul.scatter > li:nth-of-type(2n - 1) {
  clear: right;
}

section .graffiti {
  font-family: 'Cedarville Cursive', cursive;
  text-transform: none;
  font-weight: normal;
  color: #6A6A61;
  text-align: left;
  line-height: 1.5;
}

section .graffiti strong, section .graffiti em {
  font-weight: 700;
  font-size: 1.5em;
}

section dt {
  font-size: 3em;
  color: #c82829;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1em;
}

section dd {
  color: #4d4d4c;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 2em;
  font-size: 2em;
}

section dt:nth-of-type(2n),
section dd:nth-of-type(2n) {
  text-align: right;
}

section p {
  color: #4d4d4c;
  font-weight: 700;
  font-size: 3.5em;
}

section p.revision {
  font-family: 'Cedarville Cursive';
  font-weight: normal;
  color: #6A6A61;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.insert:before {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  content: "^";
  margin-right: 10px;
}

section p.expression {
  text-align: center;
  text-transform: uppercase;
  font-size: 8em;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transform-origin: 0% 15%;
  -moz-transform-origin: 0% 15%;
  -o-transform-origin: 0% 15%;
  transform-origin: 0% 15%;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

section p.follow-up {
  /*color: #D5EE5E;*/
  color: #4d4d4c;
  font-weight: 700;
  font-size: 2em;
  margin-top: -.5em;
  padding-left: 3px;
}

section p.point {
  position: relative;
  text-transform: uppercase;
  font-size: 2.8em;
  text-align: right;
  font-weight: 700;
}

section em {
  color: #c82829;
  font-style: normal;
}

section strong {
  color: #c82829;
}

section del {
  color: #6A6A61;
}

section p del span {
  color: #4d4d4c;
  font-weight: 700;
}

blockquote {
  padding: 0 0 0 15px;
  margin: -10px 2em 0 2em;
  border-left: 5px solid #c82829;
}

blockquote:before {
  color: #c82829;
  content: '\201C';
  font-size: 4em;
  font-weight: 700;
  float: left;
  margin-left: -.9em;
}

section blockquote p {
  color: #1D2326;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: .5em;
  font-style: italic;
  font-size: 3.0em;
  font-weight: normal;
}

blockquote p em {
  font-style: italic;
}

blockquote p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0.1em;
}

blockquote cite {
  font-size: 1.5em;
  display: block;
  line-height: 1.8;
  color: #718c00;
  font-style: normal;
  margin-top: .25em;
}

blockquote cite:before {
  content: '\2014 \00A0';
}

figcaption {
  font-size: 3em;
  /*color: #c82829;*/
  color: #000000;
  font-weight: 700;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 35px;
  width: 100%;
}

figcaption.invert {
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}

section.title footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  background-color: #F3F4F8;
  border-top: 1px solid #CCC;
}

section.source {
  /*background-color: #272822;*/
  background-color: #000000;
  padding: 30px !important;
}

section.source h2 {
  margin: 0 .5em .5em 0;
  color: #DDDCC5;
  text-transform: uppercase;
  text-align: right;
}

section.source.lhs h2 {
  text-align: left;
}

section.source div.title {
  color: #4d4d4c;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: .3em;
  padding-left: 1px;
}

section pre code {
  font-family: "DejaVu Sans Mono", "Droid Sans Mono", Menlo, Monaco, "Courier New", monospace;
  font-size: 1em;
  line-height: 1.2;
  background: rgba(255,255,255,.075);
  border: 1px solid rgba(255,255,255,.2);
  margin-bottom: 1em;
}

.middle,
.statement,
section.intro > h1,
section.intro > h2,
section.recap > hgroup, 
section.ending > h2,
section > dl,
section > ul.graffiti,
section > p {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

section p.statement strong {
  font-size: 3em;
  line-height: .75em;
}

img.middle {
  display: block;
  margin: 0 auto;
}

img.stretch-x {
  width: 100%;
}

img.stretch-y {
  height: 100%;
}

img.scale{
  max-height: 97.5%;
  width: auto;
}

.hide {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.auto-width {
  width: auto !important;
}

span.detail {
  font-size: .8em;
  color: #3e999f;
  opacity: 0.5;
  font-weight: normal;
}

.mild {
  color: #718c00;
}

/* Incremental elements */

/* By default, visible */
.incremental > * {
  opacity: .5;
}

/* The current item */
.incremental > *[aria-selected] {
  opacity: 1;
}

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * {
  opacity: 0;
}

.view .incremental {
  visibility: visible;
}

.view .incremental * {
  opacity: 1 !important;
}

/* The progressbar, at the bottom of the slides, show the global
   progress of the presentation. */
#progress-bar {
  height: 2px;
  background: #AAA;
}

/* TODO: merge the overrides below into the sheet */
section.title h1 {
  font-size: 4em;
}

section.title h1 strong {
  font-size: 3em;
  font-style: italic;
}

section.intro h1 strong,
section.intro h2 strong {
  font-size: 3.5em;
}

section p {
  font-size: 2em;
  margin-bottom: 1em;
}

section p.middle,
section p.statement {
  font-size: 3em;
}

section p.follow-up {
  margin-top: 0;
}

section > p {
  position: static;
  top: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

section pre.literal {
  font-size: .8em;
  font-weight: bold;
}

section pre code {
  white-space: pre-wrap;
}

section pre:nth-of-type(2):not(.continue) code {
  font-size: .8em;
  line-height: 1.4;
}

section ul {
  text-transform: none;
  text-align: left;
/*  font-size: 1.5em;*/
  line-height: 1.1;
}

section ul ul {
  font-size: .8em;
  margin-bottom: 0;
  margin-left: 1em;
}

section.fit {
  padding: 50px 0;
  -moz-transition: none;
}

section.fit > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.colist {
  color: #DDDCC5;
}
