/*
 Theme: Watermelon
 Fonts: Yanone Kaffeesatz, Covered By Your Grace

 <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,200,300" rel="stylesheet">
 <link href="http://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">

 Style class:
 .title = Use on title slide
 .intro = Use on intro slide, use h1 heading (or h2 heading) for topic name
 .recap = Use on recap slides, use h1 heading (or h2 heading) for topic name, h2 and h3 in an hgroup for summary
 .source = Use on source code slide, put source in <pre><code> (requires highlight.js for syntax highlighting)
 .ending = Use on final slide, use h2 heading for message
 .middle = Use on any element to vertically center it
 
 Color Palette:
 
 Name           Hex
 =====================
 Eggshell .... #F1F2EC
 Red ......... #FF4342
 Light green . #D5EE5E
 Green ....... #87A660
 Light blue .. #43C5F1
 Blue ........ #3899BF
 Purple ...... #6C5482
 Light gray .. #D5D5D5
 Gray ........ #797979
 Dark Gray ... #333333
 Black ....... #000000
*/

html, .view body {
  background: #333333 url(../../images/gray-noise.png) repeat;
  counter-reset: slideidx;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body, .view section {
  background-color: #F1F2EC;
  font-size: 17px;
  line-height: 1;
}

section, .view head > title {
}

.view section:after {
  counter-increment: slideidx;
  content: counter(slideidx, decimal-leading-zero);
  position: absolute;
  bottom: -1.5em;
  right: .5em;
  color: #FFFFFF;
  font-size: 3em;
}

.view head > title {
  color: #FFFFFF;
  text-align: center;
  margin: .5em 0 .25em;
  line-height: 1;
  font-size: 3em;
}

.view section[aria-selected] {
  border: 5px #FFFFFF solid;
}

section:not(.title) {
  padding: 50px;
}

section.title h1 {
  font-size: 6em;
  color: #797979;
  position: relative;
  top: 40%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

section.title footer {
  font-weight: 200;
  text-align: center;
  font-size: 2.5em;
  padding: 30px 50px;
}

section.intro {
  background-color: #FF4342;
}

section.intro h1,
section.intro h2 {
  color: #D5EE5E;
  text-transform: lowercase;
  line-height: .7em;
  text-align: left;
  font-size: 4.4em; /* duplicated here for h2 */
}

section.intro.alt h1,
section.intro.alt h2 {
  text-align: right;
}

section.intro h1 strong,
section.intro h2 strong {
  color: #F1F2EC;
  font-size: 1.51em;
}

section.topic h2 {
  font-size: 4em;
}

section.secret {
  background-color: #797979;
}

section.secret p {
  color: #F1F2EC;
  text-transform: uppercase;
  font-weight: 700;
}

section.secret strong {
  color: #43C5F1;
  font-size: 2em;
  display: block;
  line-height: .8em;
}

section.recap > h1,
section.recap > h2 {
  text-transform: uppercase;
  color: #87A660;
  font-size: 2em;
  border: 15px solid #87A660;
  border-radius: 20px;
  position: absolute;
  right: -25px;
  top: 5px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  white-space: nowrap;
  padding: 10px;
}

section.recap hgroup h2,
section.recap .hgroup h2 {
  color: #797979;
  text-transform: uppercase;
  font-size: 4.4em;
}

section.recap hgroup h3,
section.recap .hgroup h3 {
  color: #FF4342;
  text-transform: uppercase;
  font-size: 3em;
}

section.recap hgroup.invert h2,
section.recap .hgroup.invert h2 {
  font-size: 3em;
}

section.recap hgroup.invert h3,
section.recap .hgroup.invert h3 {
  font-size: 4.4em;
}

section.question p {
  text-align: right;
  font-size: 3em;
}

section.question p strong {
  display: block;
  text-transform: uppercase;
  font-size: 2em;
  line-height: .8em;
}

section.ending {
  background-color: #43C5F1;
}

section.ending > h2 {
  color: #F1F2EC;
  font-size: 4.4em;
  text-transform: lowercase;
}

section.ending > h2.name {
  text-transform: none;
  /*top: 40%;*/
  top: 10%;
}

section.ending footer,
section.ending p.footer {
  position: absolute;
  bottom: 15%;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  padding: 40px 0;
  font-size: 3em;
  text-align: center;
  color: #43C5F1;
  font-weight: bold;
}

h1 {
  font-size: 4.4em;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
}

section ul {
  list-style: none;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
  color: #43C5F1;
  text-align: right;
  margin-bottom: 1em;
}

section ul.variants {
  margin-top: 150px; /* half height (250px) - 100px to account for padding */
}

section ul.inline {
  text-align: left;
  text-transform: none;
}

section ul.inline li {
  display: inline;
}

section .graffiti {
  font-family: 'Covered By Your Grace', cursive;
  text-transform: none;
  font-weight: normal;
  color: #333333;
  text-align: left;
  line-height: 1.5;
}

section .graffiti strong, section .graffiti em {
  font-weight: 700;
  font-size: 1.5em;
}

section dt {
  font-size: 3em;
  color: #FF4342;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1em;
}

section dd {
  color: #797979;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 2em;
  font-size: 2em;
}

section dt:nth-of-type(2n),
section dd:nth-of-type(2n) {
  text-align: right;
}

section ul.inline,
section p {
  color: #797979;
  font-weight: 700;
  font-size: 3.5em;
}

section p.revision {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: normal;
  color: #333333;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.insert:before {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  content: "^";
  margin-right: 10px;
}

section p.expression {
  text-align: center;
  text-transform: uppercase;
  font-size: 8em;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transform-origin: 0% 15%;
  -moz-transform-origin: 0% 15%;
  -o-transform-origin: 0% 15%;
  transform-origin: 0% 15%;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

section p.follow-up {
  color: #88A65E;
  font-weight: 700;
  font-size: 2em;
  margin-top: -.5em;
  padding-left: 3px;
}

section p.point {
  position: static;
  /*position: relative;*/
  text-transform: uppercase;
  font-size: 2.8em;
  text-align: right;
  font-weight: 700;
}

section em {
  color: #3899BF;
  font-style: normal;
}

section strong {
  color: #FF4342;
}

section del {
  color: #333333;
}

section p del span {
  color: #797979;
  font-weight: 700;
}

blockquote {
  padding: 0 0 0 15px;
  margin: -10px 2em 0 2em;
  border-left: 5px solid #D5D5D5;
}

blockquote:before {
  color: #FF4342;
  content: '\201C';
  font-size: 4em;
  font-weight: 700;
  float: left;
  margin-left: -.9em;
}

blockquote p {
  color: #797979;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: .5em;
  font-style: italic;
  font-size: 2.5em;
  font-weight: normal;
}

blockquote p em {
  font-style: italic;
}

blockquote p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0.1em;
}

blockquote cite {
  font-size: 1.5em;
  display: block;
  line-height: 1.8;
  color: #87A660;
  font-style: normal;
  margin-top: .25em;
}

blockquote cite:before {
  content: '\2014 \00A0';
}

figcaption {
  font-size: 3em;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}

section.title footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  background-color: #F3F4F8;
  border-top: 1px solid #CCC;
}

section.source {
  /*background-color: #272822;*/
  background-color: #000000;
  padding: 30px !important;
}

section.source h2 {
  margin: 0 .5em .5em 0;
  color: #F1F2EC;
  text-transform: uppercase;
  text-align: right;
}

section pre code {
  font-family: "DejaVu Sans Mono", "Droid Sans Mono", Menlo, Monaco, "Courier New", monospace;
  font-size: 1em;
  line-height: 1.2;
  background: rgba(255,255,255,.075);
  border: 1px solid rgba(255,255,255,.2);
  margin-bottom: 1em;
}

.middle,
section.intro > h1,
section.intro > h2,
section.recap > hgroup, 
section.recap > .hgroup, 
section.ending > h2,
section > dl,
section > ul.graffiti,
section > ul.inline,
section > p {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

section.replace > p {
  position: absolute;
}

img.middle {
  display: block;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Incremental elements */

/* By default, visible */
.incremental > * {
  opacity: .5;
}

.incremental.replace > * {
  opacity: 0;
}

/* The current item */
.incremental > *[aria-selected] {
  /* bug in Chrome makes it jump when opacity goes to 1 */
  opacity: .99;
}

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * {
  opacity: 0;
}

.view .incremental {
  visibility: visible;
}

.view .incremental * {
  opacity: 1 !important;
}

/* The progressbar, at the bottom of the slides, show the global
   progress of the presentation. */
#progress-bar {
  height: 2px;
  background: #AAA;
}
