/* Fade slide transition */
/* opacity is set by core styles */
section {
  -moz-transition: opacity 450ms ease-out 0ms;
  -webkit-transition: opacity 450ms ease-out 0ms;
  -ms-transition: opacity 450ms ease-out 0ms;
  transition: opacity 450ms ease-out 0ms;
}
